@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

body {
    margin: auto;
}

.deleteLink{
    color:red!important;
}
.deleteLink:hover{
    cursor: pointer;
    text-decoration: underline!important;
}
.staticUpdateLink{
    color:blue!important;
}
.staticDeleteLink{
    color:red!important;
}
.login-jumbo{
    transform: translateY(50%);
}
.confirmDeleteHeader{
    margin-bottom: 5%;
}